* {margin:0; padding:0;}
body {background-color:#ee0a3b;min-height:100%;background-color:#ee0a3b;position:relative;font-size:12px;}
[data-dpr="2"] body{font-size:24px;}
[data-dpr="3"] body{font-size:36px;}

#header {text-align:center;}
#header h2 img {width:/*100%*/10.0rem}
#content {padding:0.133333rem;}
#content li.flag {display:table;width:100%;margin-bottom:1px;background:#fff;}
.flag .flag-item {display:table-cell;padding:0.16rem 0;vertical-align: top;background:#fff;}
.flag .flag-item.figure, .flag .flag-item.figure img{width:2.346667rem;height:2.346667rem;}
/*给了右边宽度是1000px,paddingleft和right各15px*/
.flag .flag-item.figcaption {position:relative;width:13.333333rem;padding-left:.2rem;padding-right:.2rem;}
/*line-clamp:2;限制在一个块元素显示的文本的行数 box-orient:vertical:从上向下垂直排列子元素 display:box:类似于flex*/
.figcaption .flag-title a {color:#333;line-height:1.25;overflow:hidden;-webkit-line-clamp:2;line-clamp:2;-webkit-box-orient:vertical;box-orient:vertical;display:-webkit-box;
display:box}
.figcaption .flag-price {padding: 0.15rem 0 0.2rem;}
.figcaption .flag-price .ff {display:inline-block;vertical-align: middle;font-weight:700;}
.figcaption .flag-price span {background: #ee0a3b;border-radius:.026667rem;padding:.026667rem .08rem .013333rem;color:#fff;font-weight:700;margin-right:.066667rem;font-size:11px}
[data-dpr="2"] .figcaption .flag-price span{font-size:22px;}
[data-dpr="3"] .figcaption .flag-price span{font-size:33px;}

.figcaption .flag-price strong {color:#ee0a3b;font-size:16px;margin-right:0.16rem;}
[data-dpr="2"] .figcaption .flag-price strong{font-size:32px;}
[data-dpr="3"] .figcaption .flag-price strong{font-size:48px;}

.figcaption .flag-price small {color:#ee0a3b;font-size:12px;}
[data-dpr="2"] .figcaption .flag-price small{font-size:24px;}
[data-dpr="3"] .figcaption .flag-price small{font-size:36px;}

.figcaption .flag-type {color: #ff3600}
.figcaption .flag-btn {position:absolute;bottom:0.133333rem;right:0.2rem;width:2.133333rem;height:0.64rem;line-height:0.64rem;background-color:#ee0a3b;text-align:center;color:#fff;font-weight:700px;font-size:14px;border-radius:0.26667rem;}
[data-dpr="2"] .figcaption .flag-btn{font-size:28px;}
[data-dpr="3"] .figcaption .flag-btn{font-size:42px;}
